* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 192, 246);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

li {
    display: inline;
    margin-left: 1rem;
}

li:hover {
    background-color: azure;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
   
}

main {
    display: flex;
    flex-direction: row;
    margin: 7% 15%;
    justify-content: space-between;   

}

.left-cont h1 {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-2 {
    width: 20vw;
    height: 10vh;
    margin: 30px 0 30px 0;
    background-color: rgb(73, 130, 251);
    border-radius: 50px;
    border: none;
}

.btn-2:hover {
    background-color: brown;
}

.image {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}